# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db 